.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .title {
    max-width: 500px;
    font-size: 1.8rem;
    text-align: center;
    color: var(--yellow);
}

.home .input-components {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home .input-components {
        display: flex;
        flex-direction: column;
    }
}